@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: var(--color-zinc-200);
  --color-info: var(--color-blue-600);
  --color-warning: var(--color-orange-600);
  --foreground: rgb(23, 23, 23);
  --card: rgb(252, 252, 252);
  --card-foreground: rgb(23, 23, 23);
  --popover: rgb(252, 252, 252);
  --popover-foreground: rgb(82, 82, 82);
  --primary: rgb(57, 216, 140);
  --primary-foreground: rgb(24, 31, 28);
  --secondary: rgb(253, 253, 253);
  --secondary-foreground: rgb(23, 23, 23);
  --muted: rgb(237, 237, 237);
  --muted-foreground: rgb(32, 32, 32);
  --accent: rgb(237, 237, 237);
  --accent-foreground: rgb(32, 32, 32);
  --destructive: var(--color-red-600);
  --destructive-foreground: rgb(255, 151, 151);
  /* --border: rgb(223, 223, 223); */
  --border: var(--color-zinc-200);
  --input: rgb(246, 246, 246);
  --ring: rgb(57, 216, 140);
  --chart-1: rgb(57, 216, 140);
  --chart-2: rgb(11, 95, 233);
  --chart-3: rgb(93, 28, 242);
  --chart-4: rgb(197, 127, 8);
  --chart-5: rgb(13, 148, 103);
  --sidebar: rgb(252, 252, 252);
  --sidebar-foreground: rgb(112, 112, 112);
  --sidebar-primary: rgb(57, 216, 140);
  --sidebar-primary-foreground: rgb(24, 31, 28);
  --sidebar-accent: rgb(237, 237, 237);
  --sidebar-accent-foreground: rgb(32, 32, 32);
  --sidebar-border: rgb(223, 223, 223);
  --sidebar-ring: rgb(57, 216, 140);
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.17;
  --shadow-color: #000000;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
  --tracking-normal: 0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: var(--color-zinc-950);
  --color-info: var(--color-blue-400);
  --color-warning: var(--color-orange-400);
  --foreground: rgb(165, 183, 208);
  --card: rgb(23, 23, 23);
  --card-foreground: rgb(165, 183, 208);
  --popover: rgb(36, 36, 36);
  --popover-foreground: rgb(169, 169, 169);
  --primary: rgb(0, 78, 46);
  --primary-foreground: rgb(167, 195, 182);
  --secondary: rgb(36, 36, 36);
  --secondary-foreground: rgb(250, 250, 250);
  --muted: rgb(31, 31, 31);
  --muted-foreground: rgb(162, 162, 162);
  --accent: rgb(49, 49, 49);
  --accent-foreground: rgb(250, 250, 250);
  --destructive: var(--color-red-400);
  --destructive-foreground: rgb(196, 183, 179);
  /* --border: rgb(41, 41, 41); */
  --border: var(--color-zinc-950);
  --input: rgb(36, 36, 36);
  --ring: rgb(37, 200, 96);
  --chart-1: rgb(37, 200, 96);
  --chart-2: rgb(29, 127, 248);
  --chart-3: rgb(110, 64, 247);
  --chart-4: rgb(225, 164, 4);
  --chart-5: rgb(35, 171, 154);
  --sidebar: rgb(18, 18, 18);
  --sidebar-foreground: rgb(137, 137, 137);
  --sidebar-primary: rgb(0, 78, 46);
  --sidebar-primary-foreground: rgb(167, 195, 182);
  --sidebar-accent: rgb(49, 49, 49);
  --sidebar-accent-foreground: rgb(250, 250, 250);
  --sidebar-border: rgb(41, 41, 41);
  --sidebar-ring: rgb(37, 200, 96);
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.17;
  --shadow-color: #000000;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-info: var(--color-info);
  --color-warning: var(--color-warning);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

@keyframes spin-slow {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -100;
  }
}

.animate-spin-slow rect {
  animation: spin-slow 8s linear infinite;
}

@keyframes toast-progress {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

.animate-toast-progress {
  animation: toast-progress linear forwards;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@keyframes border {
  to {
    --border-angle: 360deg;
  }
}

@theme {
  --animate-border: border 4s linear infinite;
}

/* @keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
} */

/* Custom scrollbar للـ WorkspaceList */
.workspace-scroll::-webkit-scrollbar {
  width: 0.5px;
}

.workspace-scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 999px;
}

.workspace-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    transparent,
    var(--primary) 20%,
    var(--primary) 80%,
    transparent
  );
  border-radius: 999px;
}
